body{
    font-family:"Poppins", sans-serif;
    background-color:#fff8e3;
    margin: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    min-height: 95vh
}

.main{
    flex: 1;
}
footer{
    text-align: right;
    color:#BE5985 ;
    font-weight: bolder;
    font-style: italic;
}

.img{
    height: 300px;
    border-radius: 20px;
}

h1{
    color: black;
    text-align: center;
}
span{
    color:#ff9494
}

.box{
    text-align: center;
    width:45%
}
.left{
    float: left;
}
.right{
    float:right
}


@media (max-width:850px){
.box{
    display: block;
    width: 100%;
    margin-bottom: 30px;

}

}